@model ConsoleApp2.Student

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Add Student</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label for="FirstName" class="form-label">First Name</label>
            <input class="form-control" asp-for="FirstName"/>
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">Last Name</label>
            <input class="form-control" asp-for="LastName" />
        </div>

        <div class="mb-3">
            <label for="Gender" class="form-label">Gender</label>
            <input class="form-control" asp-for="Gender"/>
        </div>
        <div class="mb-3">
            <label for="BirthDate" class="form-label">BirthDate</label>
            <input class="form-control" asp-for="BirthDate"/>
        </div>

        <button class="btn btn-outline-primary">Submit</button>

        <a href="/Student/Index" class="btn btn-outline-warning">
            Back to list
        </a>

    </div>
</form>